body
{
	background-image: url("../image/fond8.jpg");
	background-attachment: fixed;
}
#page
{
	width: 1000px;
	margin: auto;
	background-color: rgba(18,18,18,0.2);
}

@media all AND (max-width: 1024px)
{
	body
	{
		background-image: url("../image/fond9.jpg");
		background-attachment: fixed;
		background-position: center; 
		font-size: 20px;
	}
	#page
	{
		width: auto;
	}
}

/*En-tête*/

header
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#titre_priclpal
{
	display: flex;
	flex-direction: column;
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#logo img
{
	width: 59px;
	height: 60px;
}

header h1
{
	font-family: Arial, sans-serif;
	font-size: 2.5em;
	font-weight: normal;
	margin: 0 0 0 10px;
}

header h2
{
	font-family: Arial, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	margin: 0px;
}

/* Navigation */

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li
{
	margin-right: 15px;
}

nav a
{
	font-size: 1.3em;
	color: #181818;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover
{
	color: #00BB00;
	border-bottom: 3px solid #00BB00;
}

/*page*/

section
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#membres img
{
	height: 100px;
	width: 100px;
}
#membres 
{
	width: 275px;
}

#profil strong
{
	color: #DD0000;
}

#tchat
{
	width: 675px;
}

#tchat h2
{
	text-align: center;
}

#tchat
{
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}

#tchat p
{
	width: 600px;
	height: 500px;
	overflow: auto;
}

#tchat img
{
	width: 40px;
	height: 40px;
}

@media all and (max-width: 1024px)
{
	section
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#membres
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;

	}

	#membres
	{
		width: auto;
	}

	#tchat
	{
		height: 1000px;
		align-self: center;
	}

	#tchat p
	{
		width: 700px;
		height: 800px;
		overflow: auto;
	}
	#membres img
	{
		height: 200px;
		width: 200px;
	}
}

/* Footer */

footer
{
	display: flex;
	padding-top: 25px;
}

footer p, footer ul
{
	font-size: 0.8em;
}

footer h1
{
	font-size: 1.1em;
}

#travail
{
	width: 28%;
}

#lieu_travail
{
	width: 35%;
}

#colegue
{
	width: 31%
}

#lieu_travail img
{
	width: 75px;
	height: 75px;
	border: 1px solid #181818;
	margin-right: 2px;
}

#liste_colegue
{
	display: flex;
	justify-content: space-between;
	margin-top: 0;
}

#colegue ul
{
	padding-left: 2px;
}

#colegue a
{
	text-decoration: none;
	color: black;
}